---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Garden from "@components/Garden";
import { useTranslations } from "@i18n/utils";

const posts = (await getCollection("garden"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const gardenTags = ["seedling", "budding", "evergreen"];

const tags = [...new Set(posts.flatMap((post) => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))
  .filter((tag) => {
    return !gardenTags.includes(tag);
  });

const t = useTranslations("pt-br");
const gardenStrings = {
  filter: t("garden.filter"),
  gardenTags: t("garden.gardenTags"),
  showing: t("garden.showing"),
  of: t("garden.of"),
  posts: t("garden.posts"),
  noResults: t("garden.noResults"),
};
---

<PageLayout
  title="Jardim Digital"
  description="Escrita sobre tópicos que me apaixonam."
>
  <TopLayout>
    <div class="animate page-heading">Jardim Digital</div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Garden
        client:load
        tags={tags}
        data={posts}
        gardenTags={gardenTags}
        strings={gardenStrings}
      />
    </div>
  </BottomLayout>
</PageLayout>
